doctype html
html
  head
    title="Embroidered Data"
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(language='javascript' type='text/javascript' src='/lib/jquery.min.js')
    script(language='javascript' type='text/javascript' src='/lib/p5.js')
    script(language='javascript' type='text/javascript' src='/lib/p5.svg.js')
    script(language='javascript' type='text/javascript' src='/lib/p5.pdf.js')
    script(language='javascript' type='text/javascript' src='/lib/d3.min.js')
    script(language='javascript' type='text/javascript' src='/lib/d3.v3.min.js')
    script(language='javascript' type='text/javascript' src='/lib/socket.io.js')
    script(language='javascript' type='text/javascript' src='/lib/jscolor.min.js')
    script(language='javascript' type='text/javascript' src='/lib/jquery.svg.js')
    script(language='javascript' type='text/javascript' src='/lib/jquery.svgdom.js')
  body
    block content
