extends head

block content
  h1.terms-conditions="Embroidered Data Terms and Conditions"
  a.backlink(href='javascript:history.back()')
    img.back(src='./images/backarrow.svg')
  div.terms
    h2="What happens to my data ?"
    p. 
      By using this project you accept and understand that the data you input when generating
      a pattern set is going to be used in the design of this pattern as well as be archived in
      a numerical , literal and graphical manner on the server. The server-side location is unaccessible to the general public. Each time
      the webpage gets served only items which are deemed public are revealed client-side. The application handles routing requests internally.Any request that is not routed as public is inexistent by default. In other words, there is no way to access the data client-side.

      By clicking 'Generate Now !' you are submiting the data and you aknowledge and accept that it may be shared with other visitors and users of this application for demonstration and advertising purposes.



      The pdf you generated is not stored, data gets stored only in SVG format.

    h2="What data gets stored ?"
    p. 
      Your age, education, relationship status and profession get stored in numerical form while your 
      country of residence and origin get stored in literal form as part of the file that stores the 
      graphics. 

    h2="How will my data get shared ?"
    p.
      The data will only be shared in graphical format. Your data (in graphical format) will become part of upcoming exhibitions. A general archive of  all the pattern sets that have been generated (so far) will be shown at various locations. Parts of this archive might also be shared on my personal website and social media accounts. No names or emails will be attached to this data as these
      do not get recorded as part of this process.




  
    
