@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
  background-color: #fffdf6;
  /* height: 100vh; */
  max-width: 100vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



canvas {
  height: 100vh;
}

header canvas {
  height: auto;
  width: 100%;
  display:none;
}

.formQuestions {
  /* -width: 50%; */
}

.formQuestions ul {
  width: 100%;
}

.formQuestions li div {
  width: 100%;
}

/* .bannerCanvas {
  transform-origin: 0% 100%;
  transform:translateY(-12rem) translateX(-4.5rem) rotate(90deg) scaleY(1.6)  ;
  top: 0;
  z-index: 0;
  position: absolute;
  left: 0;
} */
